.movies-navigation__movies {
    margin: 0 20px 0 0;
    width: auto;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.movies-navigation__saved-movies {
    margin-right: 47px;
    width: auto;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.movies-navigation__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 50px;
    border: 2px solid rgba(170, 170, 170, .2);
    text-decoration: none;
}

.movies-navigation__profile_image {
    background-image: url(../../images/navigation-profile-image.svg);
    width: 12px;
    height: 14px;
    margin-right: 7px;
}

.movies-navigation__profile_text {
    margin: 0;
    width: auto;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.movies-navigation__button {
    display: none;
}

.movies-navigation__main_popup {
    display: none;
}

.movies-navigation__movies_popup {
    display: none;
}

.movies-navigation__saved-movies_popup {
    display: none;
}

.movies-navigation__profile_popup {
    display: none;
}

.movies-navigation__saved-movies:hover {
    opacity: 0.8;
}

.movies-navigation__profile:hover {
    opacity: 0.8;
}

@media all and (max-width: 850px) {
    .movies-navigation__movies {
        display: none;
    }

    .movies-navigation__saved-movies {
        display: none;
    }

    .movies-navigation__profile {
        display: none;
    }

    .movies-navigation__button {
        display: block;
        background-image: url(../../images/button/navigation-button.svg);
        width: 44px;
        height: 44px;
        border: none;
        background-color: transparent;
    }

    .movies-navigation__main_popup {
        display: block;
        margin: 110px 0 0;
        width: auto;
        color: #000;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }

    .movies-navigation__movies_popup {
        display: block;
        margin: 30px 0 0;
        width: auto;
        color: #000;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-bottom: 2px solid #000;
        padding-bottom: 4px;
    }

    .movies-navigation__saved-movies_popup {
        display: block;
        margin: 26px 0 0;
        width: auto;
        color: #000;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
    }

    .movies-navigation__profile_popup {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 618px 0 0;
        width: 100px;
        height: 32px;
        border-radius: 50px;
        border: 2px solid rgba(170, 170, 170, .2);
        text-decoration: none;
    }

    .movies-navigation__button:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    .movies-navigation__main_popup:hover {
        opacity: 0.8;
    }

    .movies-navigation__saved-movies_popup:hover {
        opacity: 0.8;
    }

    .movies-navigation__profile_popup:hover {
        opacity: 0.8;
    }
}

@media all and (min-width: 320px) and (max-width: 640px) {
    .movies-navigation__main_popup {
        margin: 105px 0 0;
    }

    .movies-navigation__movies_popup {
        margin: 24px 0 0;
        padding-bottom: 7px;
    }

    .movies-navigation__saved-movies_popup {
        margin: 17px 0 0;
    }

    .movies-navigation__profile_popup {
        margin: 440px 0 0;
    }
}